

body{
  background-color: #17174e;
}

.App{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height:100vh;
}
.list-group-item:hover{
  cursor: pointer;
}

.logo{
  font-family: Lobster;
  font-size: 130px;
  color:#ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  
}

.logo-chatroom{
  font-family: Lobster;
  font-size: 50px;
  color:#ffffff;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  
}

.chat{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  overflow: hidden;
 
  
}

.channel-tray{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #17174e;
  height:100vh;
  padding:2em;
  width:300px;
}

.channel-list{
  overflow-y: scroll;
  
  height:50vh;
}
.form-control{
  font-size:13px;
}
.channel-list::-webkit-scrollbar{
  display:none;
}


.chat-box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; 
  background-color:#ffffff;
  width:100vw;
  height:100vh;
}

.chat-window{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-y: scroll;
  padding-left: 1em;
  padding-top:1em;
  padding-bottom: 1em;
  height:100vh;
}

.chat-form {
  position: absolute;
  bottom: 0;
  
}

.message{
  background-color: #565685;
  margin:.5em;
  color:white;
  padding:.6em;
  border-radius:10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: futura;
  font-size: 15px;
}

.chat-message{
  font-family: Arial, Helvetica, sans-serif;
}
.date{
  color:#686161;
}


/* ============================================================================= */
/* phones */
@media (max-width: 768px) { 
  body{
  /* background-color: #565685; */
  width:100vw;
  overflow:visible;
  
  }

  .logo{
    font-size:70px;
    margin-bottom: .5em;
    margin-top:.5em;
  }
  .channel-list{
    width:60vw;
    border:0;
  }
  .channel-tray{
    width:100vw;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
  }
  .chat{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y:scroll;
  }
  .chat-box{
    width:100vw;
  }
  
   .btn{
    font-size:10px;
    width:20vw;
  } 
  
  

 }

 /* ============================================================================= */

/* Ipad */
@media (min-width: 768px) and (max-width: 992px) { 
  body{
    /* background-color: #daa32d; */
    }
    .logo{
      font-size:120px;
      margin:1em;
    }
    .channel-list{
      width:25vw;
      border:0;
    }
}

/* ============================================================================= */

/* Ipad-pro */
@media (min-width: 992px) and (max-width: 1200px) { 
  body{
    /* background-color: #eb1dbe; */
    }
    .logo{
      font-size:150px;
      margin:1em;
    }
    .channel-list{
      width:30vw;
      border:0;
    }
    .channel-tray{
      width:50vw;
    }
}

/* ============================================================================= */


@media (min-width: 1200px) { 
  body{
    /* background-color: #2ce41b; */
    }

    .channel-tray{
      width:50vw;
    }
    .channel-list{
      width:30vw;
      border:0;
    }
 }

 /* ============================================================================= */