body {
  overflow: hidden;
}

.App {
  display: flex;

  height: 100vh;
  width: 100vw;
}

.channel-tray, .user-list, .chat-box {
  overflow-y: scroll;

  height: 100%;

  display: flex;
  flex-direction: column;
}

.channel-tray {
  background: rgb(16, 101, 141);
  position: fixed;
  border-right: 5px solid rgb(121, 179, 218);

  width: 20%;

  animation: channelListSlideIn 0.1s linear forwards;
}

.channel-tray:hover {
  animation: channelListSlideOut 0.1s linear forwards;
}

@keyframes channelListSlideIn {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-75%);
  }
}

@keyframes channelListSlideOut {
  from {
    transform: translateX(-75%);
  }
  to {
    transform: translateX(0);
  }
}

.user-list {
  background: #2D3843;
  padding:.5em;
  margin: 0 0 0 5%;
  font-family: 'Rubik', sans-serif;
  width: 15%;
  color: #FFFFFF;
}

.chat-box {
  width: 80vw;
}

.chat {
  background: rgb(255, 255, 255);
  border-left: 40px solid rgb(190, 180, 180);
  border-right: 40px solid rgb(190, 180, 180);
  padding: 1em;

  box-sizing: border-box;

  height: 100%;
  width: 100%;
}

#chat-logo{
  font-family: 'Lobster', cursive;

  position: absolute;

  font-size: 150px;

  color: #D3D3D3;

  user-select: none;

  z-index: 1;
}

.channel, .user {
  padding: 5px;

  display: flex;
  justify-content: center;

  user-select: none;
}

.user:hover {
  background: #3E4954;
}

.message {
  padding: 5px;
  margin: 10px;

  padding:.7em;
  border-radius: 20px;
  display: flex;
  width: fit-content;
  background-color: aqua;

  z-index: 2;
}

.message-owner{
  font-family: 'Rubik', sans-serif;

  user-select: none;
}

.message-content{
  font-family: 'Josefin Slab', serif;

  user-select: none;
}

.message-box form {
  display: flex;
}

.message-box form input {
  flex: 1;
  font-size: 14px;
  height: 20px;
}