

body{
  background-color: #17174e;
}

.App{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.home{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  align-content: center;
  height:100vh;
}
.list-group-item:hover{
  cursor: pointer;
}

.logo{
  font-family: Lobster;
  font-size: 130px;
  color:#ffffff;
  
}

.logo-chatroom{
  font-family: Lobster;
  font-size: 50px;
  color:#ffffff;
  text-align: center;
  
}

.chat{
  display:flex;
  flex-direction: row;
  width: 100vw;
  overflow: hidden;
 
  
}

.channel-tray{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #17174e;
  height:100vh;
  padding:2em;
  width:300px;
}

.channel-list{
  overflow-y: scroll;
  
  height:50vh;
}
.form-control{
  font-size:13px;
}
.channel-list::-webkit-scrollbar{
  display:none;
}


.chat-box{
  display: flex;
  flex-direction: column; 
  background-color:#ffffff;
  width:100vw;
  height:100vh;
}

.chat-window{
  overflow-y: scroll;
  padding-left: 2em;
  padding-bottom: 1em;
  height:100vh;
}

.chat-form {
  position: absolute;
  bottom: 0;
  
}

.message{
  background-color: #565685;
  margin:10px;
  color:white;
  padding:.6em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: fit-content;
}

.chat-message{
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}